<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utilities.ExtentReportManager"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/zain.abideen_venture/Downloads/VD Automation/Rest Assured Practice/rest_assured_8324/src/test/java/tests">
        <classes>
<!--            <class name="tests.DDT">-->
<!--                <methods>-->
<!--                    <include name="testPostUser"/>-->
<!--                    <include name="testDeleteUserByName"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="tests.UserTests">-->
<!--                <methods>-->
<!--                    <include name="testPostUser"/>-->
<!--                    <include name="testGetUserByName"/>-->
<!--                    <include name="testUpdateUserByName"/>-->
<!--                    <include name="testDeleteUserByName"/>-->
<!--                </methods>-->
<!--            </class>-->
            <class name="tests.UserTests2"></class>
        </classes>
    </test>
</suite>